<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<div class="shortcut_navigable" data-release-id="5528468">
    <td class="item_picture as_float">
        <a href="/sell/item/2078866547?ev=bp_img" class="thumbnail-lazyload"><img class="marketplace_image"
                data-src="https://i.discogs.com/qtTQS3-OGJkwEFRi2IXYfacKVsHyzDiqTinVqFLk5fE/rs:fit/g:sm/q:40/h:300/w:300/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTU1Mjg0/NjgtMTM5NTY5NzM0/MC04MjE4LmpwZWc.jpeg"
                src="https://i.discogs.com/qtTQS3-OGJkwEFRi2IXYfacKVsHyzDiqTinVqFLk5fE/rs:fit/g:sm/q:40/h:300/w:300/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTU1Mjg0/NjgtMTM5NTY5NzM0/MC04MjE4LmpwZWc.jpeg"
                alt="Brighouse &amp; Rastrick Brass Band* - The Floral Dance for sale"></a>


        <div class="hide_mobile community_data_text">
            <div class="community_rating">
                Rated: <strong>4.25</strong>
            </div>

            <div class="community_summary community_fixed_width">



                <div class="community_result">
                    <span class="have_indicator high_have" style="width:100%;">
                        <span class="community_number">299</span>
                    </span>
                    <span class="community_label">299 have</span>
                </div>
                <div class="community_result">
                    <span class="want_indicator " style="width:3.3444816053511706%;">
                        <span class="community_number"> 10</span>
                    </span>
                    <span class="community_label">10 want</span>
                </div>
            </div>

        </div>

        <div class="hide-desktop">

            <span class="price">£3,000,000.00</span>
            <br>
            <span class="converted_price"><span>about</span> €3,542,168.67</span>
            <span class=" item_shipping">
                +<button class="show-shipping-methods" data-item-id="" data-seller-username="crimsonavenger"
                    data-seller-id="1559187">shipping</button></span>
        </div>
    </td>
    <td class="item_description">
        <strong>
            <a href="/sell/item/2078866547" class="item_description_title" data-followable="true">Brighouse &amp;
                Rastrick Brass Band* - The Floral Dance (7", Single, Kno)</a>
        </strong>
        <br>

        <p class="hide-desktop muted">
            Unavailable in Czech Republic </p>

        <p class="hide_mobile label_and_cat">
            <span class="mplabel">Label:</span><a
                href="https://www.discogs.com/label/40740-Transatlantic-Records">Transatlantic Records</a><br>

            <span class="mplabel">Cat#:</span>
            <span class="item_catno">BIG 548</span>
            <br>
        </p>

        <p class="item_condition">
            <span class="mplabel condition-label-desktop">
                Media Condition:
            </span>
            <span class="mplabel condition-label-mobile">Media:</span>

            <span>
                Poor (P)

                <span class="has-tooltip" role="note" tabindex="0">
                    <i class="icon icon-info-circle muted" role="img" aria-hidden="true"></i>
                    <span class="tooltip multi-line-tooltip sr-only" role="tooltip">
                        <span class="tooltip-inner">
                            Record is cracked, badly warped, or won't play through without skipping or repeating.
                        </span>
                    </span>
                </span>
            </span>


            <br>

            <span class="mplabel condition-label-desktop">Sleeve Condition:</span>
            <span class="mplabel condition-label-mobile">Sleeve:</span>
            <span class="item_sleeve_condition">Poor (P)</span>
            <br>
        </p>

        <p class="hide_mobile">
            Slight wear on generic sleeve and back, slight ringwear, record plays fine<br>

        </p>



        <a href="/release/5528468-Brighouse-Rastrick-Brass-Band-The-Floral-Dance"
            class="item_release_link hide_mobile">View Release Page</a>


    </td>
    <td class="seller_info">
        <ul>
            <li>
                <div class="seller_block">
                    <span class="mplabel seller_label">Seller:</span>
                    <strong><a href="/seller/crimsonavenger/profile">crimsonavenger</a></strong>

                </div>
            </li>
            <li>

                <span class="star_rating" role="img" aria-label="crimsonavenger rating 4.5 out of 5"><i role="img"
                        aria-hidden="true" class="icon icon-star"></i><i role="img" aria-hidden="true"
                        class="icon icon-star"></i><i role="img" aria-hidden="true" class="icon icon-star"></i><i
                        role="img" aria-hidden="true" class="icon icon-star"></i><i role="img" aria-hidden="true"
                        class="icon icon-star-half-empty"></i></span>
                <strong>99.9%</strong><span>,</span> <a href="/sell/seller_feedback/crimsonavenger" target="_top"
                    class="section_link">
                    720 ratings </a>
            </li>
            <li><span class="mplabel">Ships From:</span>United Kingdom</li>


        </ul>

    </td>
    <td class="hide-desktop mobile-description">
    </td>
    <td class="item_price hide_mobile">

        <span class="price">£3,000,000.00</span>
        <br>
        <span class="converted_price"><span>about</span> €3,542,168.67</span>
        <span class=" item_shipping">
            +<button class="show-shipping-methods" data-item-id="" data-seller-username="crimsonavenger"
                data-seller-id="1559187">shipping</button></span>
    </td>

    <td class="item_add_to_cart hide_mobile cart_button_substitute_text muted">
        Unavailable in Czech Republic </td>
</div>
















<div class="shortcut_navigable" data-release-id="15548593">
    <td class="item_picture as_float">
        <a href="/sell/item/1942382780?ev=bp_img" class="thumbnail-lazyload"><img class="marketplace_image"
                data-src="https://i.discogs.com/MovFLuoDEuXuka1ls5ESIuXew04lv3isrS7bMSIgMZA/rs:fit/g:sm/q:40/h:300/w:300/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTE1NTQ4/NTkzLTE1OTM0MzUx/NTctMzI1NS5qcGVn.jpeg"
                src="https://i.discogs.com/MovFLuoDEuXuka1ls5ESIuXew04lv3isrS7bMSIgMZA/rs:fit/g:sm/q:40/h:300/w:300/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTE1NTQ4/NTkzLTE1OTM0MzUx/NTctMzI1NS5qcGVn.jpeg"
                alt="Yoko Ono - It's Alright (I See Rainbows) for sale"></a>


        <div class="hide_mobile community_data_text">

            <div class="community_summary community_fixed_width">



                <div class="community_result">
                    <span class="have_indicator " style="width:77.77777777777777%;">
                        <span class="community_number">7</span>
                    </span>
                    <span class="community_label">7 have</span>
                </div>
                <div class="community_result">
                    <span class="want_indicator high_want" style="width:100%;">
                        <span class="community_number"> 9</span>
                    </span>
                    <span class="community_label">9 want</span>
                </div>
            </div>

        </div>

        <div class="hide-desktop">

            <span class="price">€2,000,000.00</span>
            <br>
            <span class="hide_mobile item_shipping">
                +no extra shipping</span><span class="converted_price"> €2,000,000.00 <span>total</span></span>
        </div>
    </td>
    <td class="item_description">
        <strong>
            <a href="/sell/item/1942382780" class="item_description_title" data-followable="true">Yoko Ono - It's
                Alright (I See Rainbows) (LP, Promo)</a>
        </strong>
        <br>


        <p class="hide_mobile label_and_cat">
            <span class="mplabel">Label:</span><a href="https://www.discogs.com/label/1610-Polydor">Polydor</a><br>

            <span class="mplabel">Cat#:</span>
            <span class="item_catno">POLD 5073</span>
            <br>
        </p>

        <p class="item_condition">
            <span class="mplabel condition-label-desktop">
                Media Condition:
            </span>
            <span class="mplabel condition-label-mobile">Media:</span>

            <span>
                Very Good (VG)

                <span class="has-tooltip" role="note" tabindex="0">
                    <i class="icon icon-info-circle muted" role="img" aria-hidden="true"></i>
                    <span class="tooltip multi-line-tooltip sr-only" role="tooltip">
                        <span class="tooltip-inner">
                            Noticeable groove wear and light scratches. Surface noise will not overpower the music.
                        </span>
                    </span>
                </span>
            </span>


            <br>

            <span class="mplabel condition-label-desktop">Sleeve Condition:</span>
            <span class="mplabel condition-label-mobile">Sleeve:</span>
            <span class="item_sleeve_condition">Good Plus (G+)</span>
            <br>
        </p>

        <p class="hide_mobile">
            Slight wear on sleeve and back, slight ringwear, record plays fine<br>

        </p>



        <a href="/release/15548593-Yoko-Ono-Its-Alright-I-See-Rainbows" class="item_release_link hide_mobile">View
            Release Page</a>


    </td>
    <td class="seller_info">
        <ul>
            <li>
                <div class="seller_block">
                    <span class="mplabel seller_label">Seller:</span>
                    <strong><a href="/seller/iwontshareyou/profile">iwontshareyou</a></strong>

                </div>
            </li>
            <li>
                <span class="muted">New seller</span>

            </li>
            <li><span class="mplabel">Ships From:</span>Ireland</li>


        </ul>

    </td>
    <td class="hide-desktop mobile-description">
    </td>
    <td class="item_price hide_mobile">

        <span class="price">€2,000,000.00</span>
        <br>
        <span class="hide_mobile item_shipping">
            +no extra shipping</span><span class="converted_price"> €2,000,000.00 <span>total</span></span>
    </td>

    <td class="item_add_to_cart hide_mobile">
        <a class="button button-green cart-button confirm-add-to-cart" data-item-id="1942382780"
            data-seller-id="11001268" href="/sell/cart/?add=1942382780&amp;ev=atc_br">Add&nbsp;to&nbsp;Cart</a>

        <script type="text/template" id="cart-link-confirm-template-1942382780">
                                                    <div class="<%= modeClass %>">
                                                        <p>
                                                            Please review the grade of this item:            </p>



                                                        <h4>
                                                            <a href="/help/doc/mp-grading" target="_blank">
                                                                Sleeve Condition: Good Plus (G+)
                                                            </a>
                                                        </h4>
                                                        <ul>
                                                            <li>A cover or sleeve may have seam splits, especially at the bottom or on the spine.</li>
                                                            <li>Tape, writing, ring wear or other defects may start to overwhelm the object.</li>
                                                        </ul>

                                                        <h4>Comments from the Seller:</h4>
                                                        <blockquote><em>
                                                            &ldquo;Slight wear on sleeve and back, slight ringwear, record plays fine&rdquo;
                                                        </em></blockquote>


                                                    </div>
                                                </script>
        <script type="text/template" id="cart-link-confirm-title-template-1942382780">
                                                    Are you sure you want this item?    </script>
        <script type="text/template" id="cart-link-confirm-button-template-1942382780">
                                                    <% if (mode === 'add to cart') { %> Yes, Add to Cart        <% } else { %> Yes, Make Offer<% } %>
                                                </script>
        <p>
            <a href="/sell/item/1942382780?ev=bp_det"><strong>Make Offer / Details</strong></a>
        </p>



    </td>
</div>


<script>

    const data = $("div.shortcut_navigable")
    let price, id, id_release, title
    for (s of data) {
        id = s.children[0]
        id = $(id).attr('href').replace('/sell/item/', '').replace('?ev=bp_img', '')

        price = s.children[2].children[0].innerText
        id_release = s.dataset.releaseId
        // id_release = $(s.children[8].outerHTML).attr('href').replace(/[^a-zA-Z0-9]/g, '')

        console.log({
            id: id,
            id_release: id_release,
            price: price,
        })

    }


</script>