.home-block {
  width: 98%;
  margin: 10px auto;
  border-radius: 9px;
  background-color: #212529;
  cursor: pointer;
}

.home-block-image {
  width: 105px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.home-block-title {
  font-weight: 500;
  font-size: 20px;
  color: white;
  word-wrap: break-word;
}
.home-block-author {
  color: rgb(191, 186, 186);
  padding: 0px;
  margin: 0px;
}
.home-block-content {
  display: inline-block;
  width: 95%;
  position: relative;
}
.home-block-content > p {
  margin: 0px;
  padding: 0px;
}
.home-block-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.home-block-image-container {
  display: inline-block;
  padding: 0px;
}
.home-block-rating {
  color: white;
  display: inline-flex;
  justify-content: end;
}
.home-block-raiting-text {
  display: inline-block;
  margin-left: 10px;
}
.home-block-stats {
  font-size: 18px;
  padding: 4px;
  position: relative;
  top: 8px;
}
.home-block-stats-spacer {
  position: relative;
  top: 1px;
}

@media only screen and (max-width: 575px) {
  .home-block-image {
    width: 100%;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 0px;
  }
  .home-block-stats {
    width: fit-content;
    margin: auto;
    display: inline-block;
  }
  .home-block-stats-wrapper {
    width: fit-content;
    margin: auto;
  }
  .home-block-info-wrapper {
    padding: 10px;
  }
}
