.home-block {
  width: 98%;
  margin: 10px auto;
  border-radius: 9px;
  background-color: #212529;
  cursor: pointer;
}

.home-block-image {
  width: 105px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.home-block-title {
  font-weight: 500;
  font-size: 20px;
  color: white;
  word-wrap: break-word;
}
.home-block-author {
  color: rgb(191, 186, 186);
  padding: 0px;
  margin: 0px;
}
.home-block-content {
  display: inline-block;
  width: 95%;
  position: relative;
}
.home-block-content > p {
  margin: 0px;
  padding: 0px;
}
.home-block-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.home-block-image-container {
  display: inline-block;
  padding: 0px;
}
.home-block-rating {
  color: white;
  display: inline-flex;
  justify-content: flex-end;
}
.home-block-raiting-text {
  display: inline-block;
  margin-left: 10px;
}
.home-block-stats {
  font-size: 18px;
  padding: 2px;
  position: relative;
  text-align: right;
  padding-right: 10px;
  top: 20px;
}
.home-block-stats-spacer {
  position: relative;
  top: 1px;
  right: 10px;
}

@media only screen and (max-width: 575px) {
  .home-block-image {
    width: 100%;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 0px;
  }
  .home-block-stats {
    width: fit-content;
    margin: auto;
    display: inline-block;
  }
  .home-block-stats-wrapper {
    width: fit-content;
    margin: auto;
  }
  .home-block-info-wrapper {
    padding: 10px;
  }
}

.page-link {
  color: #21252a !important;
}
.page-item.active > .page-link {
  color: white !important;
}
.active > .page-link {
  background-color: #21252a !important;
  border-color: #21252a !important;
}

.homet-table {
  width: 95%;
  margin: auto;
  margin-top: 20px;
}

.home-table-container {
  width: 98%;
  border-radius: 9px;
  padding: 10px;
  box-shadow: rgba(149, 157, 165, 0.09) 0px 8px 24px;
  margin: auto;
  cursor: pointer;
  margin-top: 10px;
  /* background-color: red; */
}

.home-table-title {
  font-size: 20px;
  margin: 0px;
}
.home-table-label {
  margin: 0px;
}

.home-table-price {
  font-size: 20px;
  margin: 0px;
  text-align: center;
}

.home-table-graph-container {
  width: fit-content;
  margin: auto;
  margin-top: 10px;
}
.home-table-stats {
  margin: auto;
  width: fit-content;
}

.home-table-stats-value {
  display: inline-block;
  margin: 0px;
  font-weight: bold;
}
.home-table-nav {
  font-size: 18px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
.filter-tab {
  cursor: pointer;
}
.filter-controls {
  width: fit-content;
  float: right;
  align-items: flex-end;
}
.filter-controls > svg {
  display: block;
}
