@import "home.css";
@import "release.css";
.main-color {
  color: #f0be48;
}

.bg-main {
  background-color: #f0be48;
}
.body-wrap {
  width: 80%;
  min-width: 350px;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 20px;
  margin: auto;
  margin-top: 40px;
  min-height: 50vh;
}

.div-center {
  width: fit-content;
  margin: auto;
}

.border-radius {
  border-radius: 10px;
}
