.release-image {
  width: 100%;
  border-radius: 10px;
}
.release-container {
  box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
}
.release-artist {
  text-decoration: none;
}
/* 
.release-info {
} */

.release-marketplace {
  border: 1px solid rgb(93, 93, 93);
  border-radius: 10px;
  padding: 5px;
  position: relative;
  margin-top: 10px;
  bottom: 0;
}

.release-youtube-vid {
  width: 80%;
  margin: auto;
  margin-top: 10px;
}

.release-tracklist-content {
  margin: 0px;
  width: 100%;
  display: inline-block;
}

@media only screen and (max-width: 575px) {
  .release-background-col {
    margin: 0px !important;
    margin-top: 20px !important;
  }
  .home-block-stats {
    top: 0px;
  }
  .home-popular-image {
    width: 200px !important;
  }
  .home-popular-container {
    display: block;
    width: 100%;
    margin: auto !important;
    padding: 10px;
  }
}

/* POPULAR */
.home-popular-image {
  width: 120px;
  border-radius: 9px;
}

.home-popular-text {
  font-size: 20px;
  margin: 0px;
}
.home-popular-author {
  margin: 0px;
}

.home-popular-container {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  border-radius: 10px;
}
.home-popular-container:hover {
  transform: scale(1.1);
}

.home-popular {
  width: fit-content;
  margin: 20px auto;
}

/* GRAPHS */
.custom-tooltip {
  border-radius: 9px;
}

.release-background-col {
  box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
  padding: 0px;
  margin: 0px;
  height: fit-content;
  border-radius: 10px;
  margin-top: 20px;
  transition: 0.15s ease-in-out;
}
.release-background-col-placeholder {
  position: absolute;
  z-index: 900;
  margin-top: -28px !important;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0px;
  padding: 0px;
  transition: 0.15s ease-in-out;
}

.release-background-col:hover {
  transform: scale(1.04);
}

.release-background-col:hover > .release-background-col-placeholder {
  color: black !important;
  transform: scale(1.2);
}
