.release-image {
  width: 100%;
  border-top-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

.release-artist {
  text-decoration: none;
}

.release-info {
  padding-top: 5px;
}

.release-marketplace {
  width: 80%;
  border: 1px solid rgb(93, 93, 93);
  border-radius: 10px;
  padding: 5px;
  position: relative;
  margin-top: 40px;
  bottom: 0;
}

.release-youtube-vid {
  width: 80%;
  margin: auto;
  margin-top: 10px;
}

.release-tracklist-content {
  margin: 0px;
  width: 100%;
  display: inline-block;
}

@media only screen and (max-width: 575px) {
  .release-image {
    border-top-right-radius: 9px;
    border-bottom-right-radius: 0px;
  }
}
