.search-input {
  width: 100%;
  padding: 20px;
  font-size: 25px;
  border-radius: 8px;
  outline: none;
}

.modal-content {
  background-color: inherit !important;
}

.modal-header {
  border-bottom: none !important;
}

.modal-header > button {
  color: lightgrey !important;
}
